# Logs
*.log

# Package artifacts
/lib
dist

# E2E tests lock file cache dir
__locks__
test-results

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules

# Editor directories and files
.idea

# Mac OS
.DS_Store
